/* 全体ベースの設定 */
@charset "UTF-8";

body {
    font-family: "Yu Gothic", "Helvetica", sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


/* 各要素に余白をつけて整える */
main, section, header, footer, aside, nav {
  max-width: 800px;
  padding: 0px;
}

.container{
  max-width: 800px;
  margin: 0 auto;
}
/* header */
header {
  background-color: #FFFF00;
  color: black;
  text-align: center;
  padding: 20px 0;
  }

.row {
  display: flex;
  width: 100%;
  align-items: stretch;
}

  /* main */
main {
  flex: 2;
  background-color: #33ff99;
  padding: 10px 20px;
}

 /* aside */
 aside {
 flex: 5;
  background-color: #ffcc99;
  text-align: center;
.table {
display: inline-block;
}
table{
  border-collapse: collapse;
  margin: 0 auto;
  text-align: left;
}
button {
display: block;
margin-left: auto;
}
}

/* footer */
footer {
  background-color: #c0c0c0;
  height: 30px;
}
